[user]
	name = AlexFullmoon
	email = alex.fullmoon@moonlightwell.ru
[init]
    defaultBranch = master
{{- if eq .chezmoi.os "windows" }}
[core]
	sshcommand = C:/Windows/System32/OpenSSH/ssh.exe
[credential]
	helper = manager
[credential "https://git.moonlightwell.ru"]
    provider = generic
	helper = manager
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
[credential]
	helper = osxkeychain
{{- end }}