# https://ghostty.org/docs/config.
# Empty values are used to reset config keys to default.
auto-update = check

command = "{{ lookPath "fish" }}"

font-family = PragmataPro
theme = "Monokai Pro Spectrum"

background-opacity = 0.92
minimum-contrast = 1.1
cursor-style = bar
cursor-invert-fg-bg = true

shell-integration-features = title


