AddKeysToAgent yes
IgnoreUnknown UseKeychain,WarnWeakCrypto
{{- if eq .chezmoi.os "darwin" }}
UseKeychain yes
{{- end }}

Host gitea
	HostName git.moonlightwell.ru
	Port 22
	User git

Host github.com
	HostName github.com
	User git

{{- if ne .chezmoi.hostname "Trueblood" }}

Match Originalhost moonlightwell Exec "! ifconfig | grep -q -e '192.168.88' -e '10.10.10'"
	HostName 77.123.249.79
Match Originalhost moonlightwell-direct Exec "! ifconfig | grep -q -e '192.168.88' -e '10.10.10'"
	HostName 77.123.249.79
{{- end }}

Host moonlightwell
 	RemoteCommand /mnt/user/appdata/shell/atch -C 0 {{ .chezmoi.hostname }} /usr/bin/fish
	VisualHostKey yes

Host moonlightwell moonlightwell-direct
	User root
	HostName 192.168.88.99
	Port 22376
	RequestTTY yes
	WarnWeakCrypto no

{{- if ne .chezmoi.hostname "Trueblood" }}

#Match Originalhost borgbackup Exec "! ifconfig | grep -q -e '192.168.88' -e '10.10.10'"
#	HostName 77.123.249.79
{{- end }}

Host borgbackup
	User borg
	HostName 192.168.88.99
	Port 22375
	IdentityFile {{ .chezmoi.homeDir }}/.ssh/backup
	IdentitiesOnly yes

Host rpi
	User rpi
	HostName 192.168.88.100
	Port 22
	VisualHostKey yes
