AddKeysToAgent yes
IgnoreUnknown UseKeychain,WarnWeakCrypto
{{- if eq .chezmoi.os "darwin" }}
UseKeychain yes
{{- end }}

Host gitea
	HostName git.moonlightwell.ru
	Port 22
	User sc-gitea
	IdentityFile {{ .chezmoi.homeDir }}/.ssh/gitea
	IdentitiesOnly yes

Host github.com
	HostName github.com
	User git
	IdentityFile {{ .chezmoi.homeDir }}/.ssh/github
	IdentitiesOnly yes

Host router
	User fullmoon
	# HostName 77.123.249.79
	HostName 192.168.88.1
	Port 52022
	IdentityFile {{ .chezmoi.homeDir }}/.ssh/moonlight


#Host moonlightwell
# 	RemoteCommand /var/services/homes/linuxbrew/.linuxbrew/bin/zellij attach -c {{ .chezmoi.hostname }}
#	VisualHostKey yes
#	RemoteForward 52698 127.0.0.1:52698

Host moonlightwell moonlightwell-direct
	User root
	HostName 192.168.88.99
	Port 22376
	IdentityFile {{ .chezmoi.homeDir }}/.ssh/moonlightwell
	SendEnv LANG LC_*
	SetEnv TERM=xterm-256color
	RequestTTY yes
	WarnWeakCrypto no

Host rpi
	User rpi
	HostName 192.168.88.100
	Port 22
	IdentityFile {{ .chezmoi.homeDir }}/.ssh/rpi
	VisualHostKey yes

Host aeza
	RemoteCommand /root/.cargo/bin/zellij attach -c {{ .chezmoi.hostname }}
	VisualHostKey yes

Host aeza aeza-direct
	User root
	HostName 89.208.103.40
	Port 22376
	IdentityFile {{ .chezmoi.homeDir }}/.ssh/aeza
	SetEnv TERM=xterm-256color
	RequestTTY yes
